	body {
		font-family: Roboto, Helvetica, sans-serif;
		font-size: 15px;
		line-height: 1.5;
		padding: 0;
		margin: 0;
		background-color: #f4f4f4;
	}
	
	/*Global Styling*/
	/*If we want the container to be responsive we have to set it to a precentage, not to a specific width in pixels*/
	.container {
		width: 80%;
		margin: auto;
		overflow: hidden;
	}
	
	ul {
		margin: 0;
		padding: 0;
	}
	
	.button_1 {
		height: 38px;
		background: #e8491d;
		color: #ffffff;
		border: 0px;
		border-radius: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.button_1:hover {
		background: #d2451d;
	}
	
	.dark {
		padding: 15px;
		background: #e8491d;
		color: #ffffff;
		margin-top: 10px;
		margin-bottom:10px;
		border-radius: 10px;
	}
	
	
	/*Header*/
	header {
		background: #c7c7c7;
		padding-top: 30px;
		/*Make the height adjust on smaller screens*/
		min-height: 70px;
		border-bottom: #e8491d 3px solid;
	}
	
	header a {
		color: #222222;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 15px;
	}
	
	/*Make the menu horizontal and remove the bullets*/
	header li {
		float: left;
		display: inline;
		padding: 0 20px 0 20px;
	}
	
	/*Move the menu on the right*/
	header #branding {
		float: left;
	}
	header #branding img{
		margin-bottom: 20px;
	}
	
	header nav {
		float: right;
		margin-top: 25px;
	}
	
	header .current a {
		color: #222222;
		font-weight: bold;
	}
	
	header a:hover {
		color: #e8491d;
		font-weight: bold;
	}
	
	/*Showcase*/
	/*make the showcase flexible*/
	#showcase {
		min-height: 400px;
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../poze/poza15.jpg') no-repeat center center/cover;
		text-align: center;
		color: #ffffff;
	}
	
	#showcase h1 {
		margin-top: 100px;
		font-size: 55px;
		margin-bottom: 10px;
	}
	
	#showcase p {
		font-size: 23px;
		font-weight: bold;
	}
	
	/*Newsletter*/
	#newsletter {
		padding: 15px;
		color: #222222;
		background: #c7c7c7;
	}
	
	#newsletter h1 {
		float: left;
	}
	
	#newsletter form {
		float: right;
		margin-top: 20px;
	}
	
	#newsletter input[type="email"] {
		padding: 4px;
		height: 25px;
		width: 250px;
		border: 0px;
	}
	
	/*Boxes Area*/
	#boxes {
		margin-top: 20px;
	}
	
	#boxes .box {
		float: left;
		text-align: center;
		width: 30%;
		padding: 10px;
	}
	
	#boxes .box img {
		width: 90px;
	}
	
	/*Categories*/
	#categories .category {
		text-align: center;
		width: 100%;
		padding: 10px;
	}
	
	#categories .category img{
		border-radius: 50%;
		width:200px;
        height:200px;
		border: 7px solid #e8491d;
		box-shadow: 70px 10px #e8491d;
	}
	
	/*Main-col*/
	article#main-col {
		float: left;
		width: 50%;
		margin-top: 30px;
	}
	
	/*Sidebar*/
	aside#sidebar {
		float: right;
		width: 30%;
		margin-top: 60px;
	}
	
	/*Slideshow*/
	.slideshow-container {
		margin-top: 30px;
		text-align: center;
		z-index: 1;
		box-sizing: border-box;
		max-width: 1000px;
		position: relative;
	}
		 
	.mySlides img {
			border-radius: 10px;
			width: 100%;
			box-shadow: 10px 30px 30px 10px #777;
			max-width: 100%; 
			height: auto;

		 }
		 
		 
	/* Hide the images */
	/*.mySlides {
		display: none;
	}*/
		 
		 

		 
	/* Fading animation */

	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
		from {opacity: .4}
		to {opacity: 1}
	}

	@keyframes fade {
		from {opacity: .4}
		to {opacity: 1}
	}
	
	/*Style contact form*/
		 
	#main-col input[type="email"] {
		padding: 4px;
		width: 50%;
		border: 0px;
		border-radius: 10px;
	}

	#main-col input[type="text"] {
		padding: 4px;
		width: 50%;
		border: 0px;
		border-radius: 10px;
	}

	#main-col textarea {
		padding: 4px;
		width: 50%;
		border: 0px;
		border-radius: 10px;
	}
	
	/*Style iframe*/
	iframe {
		width: 100%;
		border-radius: 1rem;
	}
	
	/*Center the form*/
	.dark form {
		text-align: center;
	}
	
	.dark form .button_1{
		border: 1px #000000 solid;
	}
	
	footer {
		padding: 20px;
		margin-top: 107px;
		color: #222222;
		background-color: #c7c7c7;
		text-align: center;
	}
	
	/*Media Queries*/
	@media(max-width: 768px) {
		header #branding {
			float: none;
			text-align: center;
			width: 100%;
		}
		
		header nav {
			float: none;
			text-align: center;
			width: 100%;
		}
		
		header nav li {
			float: none;
			text-align: center;
			width: 100%;
		}
		
		#boxes .box {
			float: none;
			text-align: center;
			width: 100%;
		}
		
		article#main-col {
			float: none;
			text-align: center;
			width: 100%;
		}
		
		aside#sidebar {
			float: none;
			text-align: center;
			width: 100%;
		}
		
		#newsletter h1{
			float: none;
			text-align: center;
			width: 100%;
		}
		
		#newsletter form{
			float: none;
			text-align: center;
			width: 100%;
		}
		
		#newsletter button {
			display: block;
			width: 100%;
		}
		
		#newsletter form input[type="email"] {
			width: 100%;
			margin-bottom: 5px;
		}
		
		.dark .button_1 {
			display: block;
			width: 100%;
		}

		header {
			padding-bottom: 20px;
		}
		
		#showcase h1 {
			margin-top: 40px;
		}
	}
